<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Profil</div>
    <div class="page__content">


        <!------ Include the above in your HEAD tag ---------->

        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                   <!--<div class="col-md-4">
                        <div class="profile-img">
                            <div class="form-control">
                                Changer votre Photo
                                <input type="file" (change)="onFileSelected($event)" />
                                <img [src]="imgUrl" alt=" " height="100px" width="100px" *ngIf="imgUrl" />

                            </div>
                            <button style="margin-top: 10px;margin-bottom: 20px;" class=" btn btn-success " (click)="onSubmit()" *ngIf="imgUrl">Valider image</button>

                        </div>

                    </div>--> 
                    <div class="col-md-4">
                    <div class="profile-img">
                        <img [hidden]=visibility height="100px" width="100px" src="assets/{{user.image}}" alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            <div [hidden]=visibility>Change Photo</div>
                            <input type="file" (change)="onFileSelected($event)" />
                            <img [src]="imgUrl" alt=" " *ngIf="imgUrl" />
                        </div>
                        <button style="margin-top: 10px;margin-bottom: 20px;" class=" btn btn-success " (click)="onSubmit()" *ngIf="imgUrl">Valider image</button>
                    </div>
                </div>
                    <div class="col-md-6" style="padding-top: 40px;">
                        <div class="profile-head" style="padding-left: 25px; ">
                            <div class="tab-pane fade show active" style="margin-left: 50px;" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Name</h5>
                                </div>
                                <div class="col-md-6">
                                    <h6>{{user.lastName}} {{user.firstName}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Email</h5>
                                </div>
                                <div class="col-md-6">
                                    <h6>{{user.email}} </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Telephone</h5>
                                </div>
                                <div class="col-md-6">
                                    <h6>{{user.telephone}} </h6>
                                </div>
                            </div>
                            <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!--<img src="assets/{{user.image}}" style="width:370px;height:200px;" class="img-fluid rounded-top" alt="">-->
                        <input type="button" value="edit profil" class="profile-edit-btn" style="width: 130px;margin-left: 10px;;" name="btnAddMore" (click)="actionEdit()" />
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>