<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form>
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="entrer votre email" id="email" name="email" [(ngModel)]="user.email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched"></small>
          </div>
          
          <div class="input-box">
            <span class="details"> Password</span>
            <input placeholder="mot de passe" type="password" id="password" name="password" [(ngModel)]="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched " />
            <small class="text-danger " [class.d-none]="password.valid || password.untouched ">Mot de passe est un champ obligatoire !</small>
          </div>
        </div>
        <div class="button">
          <input type="submit"  style="width:384px;" value="Register" (click)="submit()">
        </div>
      </form>
      <a routerLink="/registration">Sign Up</a>
    </div>
  </div>

</body>
</html>

 
