<!DOCTYPE html>
<html>
<head>
	<title>GeoStream website</title>
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<!----hero Section start---->

	<div class="hero">
		
		<div class="content">
			
			<h2>Create your own streaming through</h2>
			<h1> Geo <span>Stream</span></h1>
			<div class="newslatter">
				<form>
					<input type="submit" name="submit" value="Lets Start">
				</form>
			</div>
			
		</div>
	</div>

	<!----About section start---->
	<section class="about">
		<div class="main">
			<img src="assets/n.jpg">
			<div class="about-text">
				<h2>About us</h2>
				<h5>stream   <span>& watch together!</span></h5>
				<p>Streaming is a way of broadcasting live videos on several platforms.
					It is a phenomenon that has experienced a huge evolution nowadays and with the current pandemic situation, several spheres of society have been affected in a positive or negative way. Indeed, it has a great influence on the viewers who will have the hand to interact live and thanks to the variety of contents, they will undoubtedly have their needs.
					So, GeoStream allows you to make a stream on a well-defined topic and broadcast it to everyone and publish your content.</p>
				<button type="button">Let's Try!</button>
			</div>
		</div>
	</section>

	<!-----service section start----------->
	<div class="service">
		<div class="title">
			<h2>Our Services</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fas fa-bars"></i>
				<h5>Make your Streaming</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-user"></i>
				<h5>Publish your content</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-bell"></i>
				<h5>Search and watch</h5>
				<div class="pra">
					<p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!------Contact Me------>
	<div class="contact-me">
		<p>Let's make and share Videos</p>
		<a class="button-two" href="#">Try it now </a>
	</div>

	<!------footer start--------->
	<footer>
		
		<p>
			Make your video on Facebook,Instagram, Youtube platforms available for all!
		</p>
		<div class="social">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
		<p class="end">CopyRight By sig@uma.tn</p>
	</footer>
</body>
</html>