<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Gestion contenu</div>
    <div class="page__content">
        <div class="container emp-profile">
        <table class="table align-middle mb-0 bg-white" style="margin-left: 300px;width: 500px;">
            <thead class="bg-light">
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    Mot
                  </td>
                <td>
                  <button type="button" mdbRipple rippleColor="dark" class="btn btn-link btn-rounded btn-sm fw-bold">
                    Modifier
                  </button>
                  <button
                          type="button"
                          class="btn btn-link btn-rounded btn-sm fw-bold"
                          mdbRipple rippleColor="dark"
                          >
                    Retirer
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  Mot
                </td>
                
                <td>
                  <button
                          type="button"
                          class="btn btn-link btn-rounded btn-sm fw-bold"
                          mdbRipple rippleColor="dark"
                          >
                    Modifier
                  </button>
                  <button
                          type="button"
                          class="btn btn-link btn-rounded btn-sm fw-bold"
                          mdbRipple rippleColor="dark"
                          >
                    Retirer
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                    Mot
                  </td>
                
                <td>
                  <button
                          type="button"
                          class="btn btn-link btn-rounded btn-sm fw-bold"
                          mdbRipple rippleColor="dark"
                          >
                    Modifier
                  </button>
                  <button
                          type="button"
                          class="btn btn-link btn-rounded btn-sm fw-bold"
                          mdbRipple rippleColor="dark"
                          >
                    Retirer
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 text-center">
          <button type="button" style="margin-top: 25px;" class="btn btn-primary"  >Ajouter</button>
           </div>
          </div>
</div>
    
</div>
  

