<mat-nav-list>
    <div class="logo py-4">
      <img src="/assets/logo.svg" alt="Company Name" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profil">
      <mat-icon>account_box</mat-icon> Profil
    </a>
    
    <a *ngIf="show" mat-list-item routerLinkActive="list-item-active" routerLink="/gestionstreamer">
      <mat-icon>contacts</mat-icon> Gestion Streamer
    </a>
    <a *ngIf="show" mat-list-item routerLinkActive="list-item-active" routerLink="/gestioncontenu">
      <mat-icon>assignment</mat-icon> Gestion Contenu
    </a>
    <a *ngIf="show" mat-list-item routerLinkActive="list-item-active" routerLink="/historique">
      <mat-icon>history</mat-icon> Historique
    </a>
    
  </mat-nav-list>
  