<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <google-map height="490px"
            width="1240px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="addMarker($event)"
            (mapMousemove)="move($event)">
            <map-marker *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"
            [options]="markerOptions"></map-marker>
        </google-map>

            
            <div>Latitude: {{display?.lat}}</div>
            <div>Longitude: {{display?.lng}}</div>
      </div>
    </div>
  </div>
  